<div *ngIf="listData">
    <table class="table">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Group name</th>
                <th>DateTimeAdded</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listData.persons">
                <td>
                    {{ item.fullname}}
                </td>
                <td>
                    {{ item.groupName}}
                </td>
                <td>
                    {{ item.dateTimeAdded}}
                </td>
            </tr>
        </tbody>
        </table>
</div>

